/*sub 공통영역*/
/**************header*******************/
#header::after{content: ''; display: block; clear: both;}
#header{position: relative;}
#header h2{text-align: center;}
#header .q_mn{float: right; display: inline-block; margin-top: -60px;}
#header .q_mn a{float: left; margin-right: 30px;}
#header .q_mn a:last-child{margin-right: 0;}
#header nav .depth1::after{content: ''; display: block; clear: both;}
#header nav .depth1:first-child{margin-left:15%;}

#header nav .depth1 > li{float: left; text-align: center; position: relative;
                         margin-right: 12%; margin-top: 30px; margin-bottom: 20px;}
#header nav .depth1 > li a:hover{color: #FFD50E;}
#header nav .depth1 > li > a{font-size: 1.7rem; color: #3d3d3d;}
#header nav .depth1 li .sub{margin-top: 50px; display: none;  margin-left: 25px;
                            position:absolute; top: 0; left: 0;}
#header nav .depth1 li .sub a{font-size: 1.125rem;}
#header nav .depth1 li .sub li{margin-top: 10px; } 

#header nav .depth1 > li:hover ul{display: block; }

.hr{width: 100%; border-bottom: 1px solid #747474; opacity: 0.8; 
    position: absolute; left: 0; bottom: 0;}
.route{float: right; margin-top: 20px;}
.route .home {width: 30px; height: 30px; margin-right: 10px;}
.route .home a img{width: 100%;}   
.route .arr{margin-right: 10px;}
.route .txt{font-size: 1.2rem;}

.sub_mn{float: left; margin-top: 60px;}
.sub_mn li{float: left; border-right: 1px solid #747474; 
           margin-right: 40px; padding-right: 40px; margin-bottom: 80px; }
.sub_mn a{font-size: 18px; color: #747474;}  
.sub_mn a:hover{border-bottom: 2px solid #345B94 ;}         
/* .sub_mn li:hover{border-bottom: 2px solid #345B94 ;} */
.sub_mn li:last-child{border-right: none;} 
/*페이지별 영역*/
/****************sub_sec1*********************/
.sub_sec1::after{content: ''; display: block; clear: both;} 
.sub_sec1 img{width: 100%; position: relative;}
.sub_sec1 .txt_box{position: absolute; top: -80px; left: 50px; z-index: 99999;}
.sub_sec1 .txt_box h4{display: inline}
.sub_sec1 .txt_box p{display: inline}
.sub_sec2 img{width: 100%;}
.sub_sec3 img{width: 100%;}
.sub_sec4 img{width: 100%;}
.sub_sec5 img{width: 100%;}