#wrap{overflow: hidden; }
#header{}
#section{}
#footer{}

/*********************header****************************/
#header{width: 100%; z-index: 999999;
        position: absolute; top: 0; left: 0;}
#header .inner .logo{width: 170px; height: 95px; 
                     float: left; margin-left: 30px;
                     margin-top: 10px;}
#header .inner .logo img{width: 100%;}
#header .inner nav{float: left; margin-left: 90px; margin-top: 40px; position: relative;}

#header .inner .q_mn{float: right; margin-top: 40px;}
#header .inner .q_mn a{width: 30px; float: left; margin-right: 20px;}
#header .inner .q_mn a:last-child{margin-right: 0;}


#header nav .depth1 > li{float: left; text-align: center; margin-right: 60px; position: relative;}
#header nav .depth1 > li:last-child{margin-right:0;}
#header nav .depth1 > li > a{display: block; line-height: 60px; 
        font-size: 1.7rem; color: #ffffff; }
#header nav .depth1 > li > a:hover{color: #FFD50E;}
#header nav .depth1 .sub{background-color: none;
                   
                   width: 100%; height: auto;
                   padding: 10px 0 ;
                   position: absolute; 
                   left: 0;
                   top: 60;
                   display: none;
                   z-index: 999999999;
                margin-left: 0;}
#header nav .depth1 .sub a{font-size: 1.2rem; 
                           color: #fff;}
#header nav .depth1 .sub li{margin-bottom: 10px;}
#header nav .depth1 ul a{font-size: 1.2rem;}
#header nav .depth1 > li:hover ul{display: block;}


#header .hr{width: 100%; border-bottom: 1px solid #fff; opacity: 0.8; 
        position: absolute; left: 0; bottom: 0;}
/*********************section1****************************/
#sec1 img{width: 100%;}

/*********************section2****************************/
#sec2{}
#sec2::after{content: ''; display: block; clear: both;}
#sec2 h2{margin-top: 150px; text-align: center; }
#sec2 .regular{margin-top:40px; margin-left: 6%; margin-right: 6%; }
#sec2 .regular > div > a{box-shadow: 0px 5px 5px #ccc;}
#sec2 .regular > div > img{width: 100%;} 
#sec2 .t_box{border:1px solid #ccc; box-shadow: 10px 10px 10px #ccc; overflow: hidden;}
#sec2 .t_box::after{content: ''; display: block; clear: both;}
#sec2 .t_box p{text-align: center; padding-top: 30px;}
#sec2 .t_box .txt {margin: 0 auto; height: 100px; 
                   margin-top: 20px; 
                   overflow: hidden;} 
#sec2 .t_box img{float: right; margin-top: 50px; margin-right: 25px;
                 margin-bottom: 30px;}
#sec2 .t_box .txt a{font-size: 0.8rem ; display: block; 
                    text-align: center; line-height: 20px;
                    word-spacing: 3px;}
#sec2 .t_box .arr{ } 
#sec2 .slick-dots{position: absolute; bottom:-50px; 
   width: 100%; text-align: center; }
#sec2 .slick-dots li{display: inline-block; margin:0 5px; }
#sec2 .slick-dots li button{display: block; border: 1px solid #B4B4B4;
            text-indent: -999999px;
            width: 15px; height: 15px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.8);}
#sec2 .slick-dots li.slick-active button{width: 40px; height: 15px; 
                                         border: none; border-radius: 10px; 
                                         background-color: #FFBC00;}
#sec2 .slick-slide > div > div > a img{width: 100%;}
#sec2 .slick-slide {margin: 0px 20px;}
/*********************section3****************************/
#sec3::after{content:'' ; display: block; clear: both;}
#sec3{background-image: url(../images/sec3/sec3_bg.png);
         background-repeat: no-repeat;
        background-size: cover; 
        }
#sec3 img{width: 100%; position: relative;}
#sec3 h2{margin-top: 100px; margin-left: 6%;}
#sec3 .all_box {position: relative; margin-left: 4%; margin-right: 4%;}
#sec3 .all_box div{position: relative; float: left; margin-right:4%;}
#sec3 .all_box div:nth-child(3n){margin-right: 0;}
#sec3 .all_box div img{width: 100%; transition: all 0.8s;}
#sec3 .all_box div img:hover{transform: scale(1.2);}
#sec3 .all_box div p{position: absolute; color: #ffffff; 
                     font-size:1.2rem; text-align: center;}
/**/
#sec3 .box1{ width: 34%; transform: translate(0 , 50px);
            /*position: absolute; top: 220px; left:90px;*/ }
#sec3 .box1 a{display: block; width: 100%; overflow: hidden;}
#sec3 .box1 img{width: 100%;}
#sec3 .box1 p{transform: translate(140px , -60px);}        
       
/**/
#sec3 .box2{width: 27%; transform: translate(0 , 150px);
            /*position: absolute; top:300px; left:700px;*/}
#sec3 .box2 a{display: block; width: 100%; overflow: hidden;}
#sec3 .box2 img{width: 100%;}
#sec3 .box2 p{transform: translate(100px , -50px);}           
/**/
#sec3 .box3{width: 31%; transform: translate(0 , 95px);
            /*position: absolute; top:160px; right: 170px;*/}
#sec3 .box3 a{display: block; width: 100%; overflow: hidden;}
#sec3 .box3 img{width: 100%;}
#sec3 .box3 p{transform: translate(160px , -70px);}       

/**/
#sec3 .box4{width: 28%; transform: translate(-505px , 213px); 
            /*position: absolute; bottom: 220px; left:200px;*/}
#sec3 .box4 a{display: block; width: 100%; overflow: hidden;}
#sec3 .box4 img{width: 100%;}
#sec3 .box4 p{transform: translate(100px , -75px);}   
/**/
#sec3 .box5{width: 35%; transform: translate(400px , -50px);
            /*position: absolute; bottom: 220px; right:550px;*/}
#sec3 .box5 a{display: block; width: 100%; overflow: hidden;}
#sec3 .box5 img{width: 100%;}
#sec3 .box5 p{transform: translate(100px , -63px);}   
/**/
#sec3 .box6{width: 26%; transform: translate(387px , -45px);
            /*position: absolute; bottom: 120px; right:70px;*/}
#sec3 .box6 a{display: block; width: 100%; overflow: hidden;}
#sec3 .box6 img{width: 100%;}
#sec3 .box6 p{transform: translate(120px , -65px);}   

/*********************section4****************************/
#sec4::after{content: ''; display: block; clear: both;}
#sec4 {background-image: url(../images/sec4/sec4_bg.png);
        background-repeat: no-repeat;
        background-size: cover; position: relative;}
#sec4 .swiper-container {
        float: left;
        width: 550px;
        height: 400px;
        margin-top: 8.5%;
        margin-left: 87px;
       
        margin-bottom: 6%;}
#sec4 .swiper-container img{width: 100%; height: 100%;}       
#sec4 .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        box-shadow: 10px 10px 10px #000;

        /* Center slide text vertically 
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;*/}

        #ser4 .swiper-container .swiper-pagination{margin-top: 20px;  text-indent: -999999px;
        width: 15px; height: 15px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.8);}


#sec4 .txt_box {float: left; margin-top: 8%; margin-left: 2%;}
#sec4 .txt_box h2{color: #fff; font-size: 1.6rem ;}
#sec4 .txt_box .left{float: left; margin-top: 8%;}
#sec4 .txt_box .left .info{font-size: 1.4rem; color: #fff; margin-bottom: 30px;}
#sec4 .txt_box .left p{font-size: 1rem; margin-bottom: 60px; color: #fff; 
                       border-bottom: 1px solid #fff; padding-bottom: 65px;}
#sec4 .txt_box .left p:last-child{border-bottom: none;}                       
                       
#sec4 .txt_box .left .add{font-size: 1.4rem; color: #fff; }
#sec4 .txt_box .left .add p{font-size: 1rem; }
#sec4 .txt_box .right{float: left; margin-top: 5%; margin-left: 30px;}
#sec4 .txt_box .right .up{font-size: 1.4rem; color: #fff;}
#sec4 .txt_box .right p{font-size: 1rem; color: #fff; 
                        margin-top: 20px; margin-bottom: 20px;
                        border-bottom: 1px solid #fff; padding-bottom: 35px;}
#sec4 .txt_box .right p:last-child{border-bottom: none;}                
#sec4 .txt_box .right .mid{font-size: 1.4rem; color: #fff;}
#sec4 .txt_box .right .down{font-size: 1.4rem; color: #fff;}


/*********************section5****************************/
#sec5::after{content: '';display: block; clear: both;}
#sec5 h2{margin-top: 100px; text-align: center; }
#sec5 h4{text-align: center; margin-top: 25px;}
#sec5 .more:hover{color: #fff; background-color: #FFD50E;}            
#sec5 p{text-align: center; margin-top: 25px; margin-bottom: 20px; }
#sec5 .sec5_pro{width: 1200px; display: flex; justify-content: center; margin-top: 30px;}            
#sec5 .sec5_pro li{width: 170px;}
#sec5 .sec5_pro li > .icon{display: block; padding-left: 22px;}
#sec5 .more{display: block; width: 80px; height: 30px; 
        border: 2px solid #FFD50E; text-align: center;
        line-height: 30px; margin: 0 auto;} 



/*********************section6****************************/
#sec6::after{content: ''; display: block; clear: both;}
#sec6 h2{margin-top: 150px; text-align: center; }
#sec6 .stage li:last-child{margin-right: 1px solid #ccc;}

/*********************footer****************************/
#footer::after{content: ''; display: block; clear: both;}
#footer{background-color: #707070; padding-top: 70px; padding-bottom: 70px;}
#footer .logo{float: left; margin-left: 125px; margin-right: 125px;}
#footer .footer_info{float: left; }
#footer .footer_info a{ margin-right: 30px; font-size: 1.1rem;
                        color: #fff;}
#footer .add{color: #fff; font-size: 1.1rem; margin-top: 20px;}
#footer .copy{color: #fff; font-size: 1rem; margin-top: 20px;}
#footer .call{color: #fff; font-size: 0.9rem; margin-top: 20px;}
#footer .sns{float: right; margin-right: 125px;}
                   


/*브레이크포인트가 1180이하부터 적용될수 있도록 함 */


@media all and (max-width:1180){
        #sec4 .txt_box {float: right; /*margin-top: 7%;*/}
        #sec4 .txt_box .right{ /*float: left; margin-top: 5%; margin-left: 50px;*/
                               margin-left: 20px;}

}

@media all and (max-width:1078) {
        #sec5 .sec5_pro{margin-left: 80px; margin-top: 40px;}   
        #sec5 .sec5_pro li {
                float: left; 
                /* margin-left: 10px; */
            }
}
@media all and (max-width:980px) {
        
        #header .inner .logo{width: 170px; height: 95px; 
                float: left;  margin-left: 41%;/*margin-left: 30px;
                margin-top: 10px;*/}
              
        
        #sec4 {background-image: url(../images/sec4/sec4_bg_m.png);
                background-repeat: no-repeat; mar
                background-size: cover; /*position: relative;*/}
        #sec4 .txt_box {/*float: left;*/ margin-top: -30px;}
        #sec4 .txt_box .left{/*float: left;*/ margin-top: 80px;}
        #sec5 .sec5_pro{/*margin-left: 80px; margin-top: 40px;*/} 
        #sec5 .sec5_pro li{/*float: left;*/ margin-top: -30px;} 
} 
